* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
  }

  @font-face {
    font-family: valorantfont;
    src: url(/fonts/main_font.ttf);
  }

  body{
    align-items: center;
    text-align: center;
  }

  

  /************************/

  /** navegation bar **/



  @import url('https://fonts.googleapis.com/css?family=Oswald:500');
.back{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background:url(https://pp.userapi.com/c841122/v841122831/327e/nHt-92F6yc4.jpg) no-repeat top center #efeff1;
  background-size:cover;
}
.thx{
  position: fixed;
  left:50%;
  transform:translateX(-50%);
  bottom: 15px;
}
nav{
  align-self: center;
  width: 100%;
  border-bottom: 1px solid black;
  /*position: fixed;*/
  /*top:50px;*/
  padding-top: 20px;
  padding-bottom: 10px;
  text-align:center;
  background-image: url("/imgs/logo2.png");
  /*background-position: center;*/
  background-repeat: no-repeat;
  background-size: 10%;
  background-position: 10% 1vh;
}



nav a{
  font-family: 'Oswald', sans-serif;
  font-weight:500;
  /*text-transform:uppercase;*/
  text-decoration:none;
  color:#16151b;
  margin:0 15px;
  font-size:16px;
  letter-spacing:1px;
  position:relative;
  display:inline-block;
}
nav a:before{
  content:'';
  position: absolute;
  width: 100%;
  height: 3px;
  background:#16151b;
  top:47%;
  animation:out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}
nav a:hover:before{
  animation:in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;

}
@keyframes in{
  0%{
    width: 0;
    left:0;
    right:auto;
  }
  100%{
    left:0;
    right:auto;
    width: 100%;
  }
}
@keyframes out{
  0%{
    width:100%;
    left: auto;
    right: 0;
  }
  100%{
    width: 0;
    left: auto;
    right: 0;
  }
}
@keyframes show{
  0%{
    opacity:0;
    transform:translateY(-10px);
  }
  100%{
    opacity:1;
    transform:translateY(0);
  }
}

@for $i from 1 through 5 {
  nav a:nth-child(#{$i}){
    animation:show .2s #{$i*0.1+1}s ease 1 both;
  }
}


/************************/

  /** Welcome **/

#black_box{
  /*margin-top: 6vh;*/
  position: absolute;
  height: 35vh;
  width: 43%;
  margin-top: 2vh;
  margin-left: 10%;
  background-color: #1d1d1d;
  color: #ffffff;
}

#black_box_welcome h1{
  padding-top: 10px;
  padding-left: 20px;
  font-size: 10vh;
  text-align: left;
  font-family: valorantfont;
}

#black_box_2 h2{
  padding-top: 10px;
  padding-left: 1vw;
  font-size: 7vh;
  text-align: left;
  font-family: valorantfont;
}

#black_box_2 h3{
  padding-top: 10px;
  padding-left: 15vw;
  font-size: 7vh;
  text-align: left;
  font-family: valorantfont;
}


/************************/

  /** Strider IMG **/

.image_container{
  position: relative;
  text-align: center;
  color: rgb(0, 0, 0);
}

#meet_strider{
  background-color: #16151b;
  width: 8%;
  height: 10%;
  align-items: center;
  text-align: center;
  color: #efeff1;
  position: absolute;
  bottom: 15vh;
  right: 10vw;
  
}

.image_container h2{
  border: 2px solid aliceblue;
  border-radius: 2px;
  margin-top: 10%;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px 5px 5px 5px;
  font-family: valorantfont;
  font-size: 18px;
  animation: meet_me_animation 10s linear infinite;
}

.image_container h2:hover{
  cursor: pointer;
}

@keyframes meet_me_animation {
  0%{
    color: #ffffff;
  }
  33%{
    color: #ff0000;
  }
  66%{
    color: #020088;
  }
  100%{
    color: #ffffff;
  }
}

#droneimg{
  margin-left: 15%;
  margin-top: 6vh;
  width: 75%;
  height: auto;
  object-fit: cover;
  /*object-position: -20% 50%;*/
}

#about_me1{
  position: absolute;
  background-color: #000000;
  margin-bottom: 20px;
  width: auto;
  height: auto;
  color: #ffffff;
  bottom: 50px;
  left: 10%;
}

#about_me1 h3{
  font-family: valorantfont;
  margin-top: 2px;
  margin-left: 5px;
  margin-right: 5px;
}



/************************/

  /** Section 2 **/

  #section2{
    /*margin-top: 10%;*/
    height: 70vh;
    width: 100%;
    background-color: #16151b;
    color: #efeff1;
    text-align: left;
  }


  #section2 h2{
    position: relative;
    width: 30vw;
    left: 50vw;
    top: 20vh;
    font-size: 35px;
  }


  #section2 h3{
    font-family: valorantfont;
    position: relative;
    width: 30vw;
    left: 50vw;
    top: 20vh;
    margin-top: 5px;
    margin-top: 5px;
    font-size: 30px;
    animation: why_how_animation 4s linear infinite;
  }


  #section2 h4{
    font-family: valorantfont;
    position: relative;
    text-align: center;
    width: 480px;
    height: 40px;
    left: 25vw;
    top: 28vh;
    border: 2px solid #16151b;
    font-size: 35px;
    cursor: pointer;
    animation: learn_more_about_me_animation 4s alternate infinite;
  }

  #section2 h4:hover{
    color: #ff0000;
    transition-duration: 1s;
    animation-duration: 1s;
  }

  @keyframes why_how_animation{
    0%{
      color: #ff6b6b;
    }
    50%{
      color: #ff0000;
    }
    100%{
      color: #ff6b6b;
    }
  }

  @keyframes learn_more_about_me_animation{
    0%{
      
    }
    100%{
      border-color: #ffffff;
      
      font-size: 35px;
    }
  }

/************************/

  /** Section 3 **/

  #section3{
    height: 80vh;
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    text-align: left;
  }

